body{
	margin: 0;
	padding: 0;
	min-width: 1200px;
	color: #333333;
	font-family: "PT Sans","Arial",sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	text-transform: uppercase;
	background-color: #f2f2f2;
}

.main-title p,
.benefits-title p,
.feautures-item p,
.benefits p{
	font-weight: normal;
	line-height: 21px;
}

h2{
	font-size: 21px;
	line-height: 100%;
}

.offer-title{
	font-size: 30px;
	line-height: 24px;
}

.offer-title p{
	line-height: 24px;
}

.clearfix::after{
	content: "";
  display: table;
  clear: both;
}

.offer-search{
	background-color: #766357;
	width: 568px;
	height: 86px;
	margin: 0 auto;
}

.offer-search a{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	float: left;
	width: 100%;
	height: 76px;
	color: white;
	font-weight: 700;
	padding-top: 32px;
	font-size: 21px;
}

a{
	text-decoration: none;
}

.container{
	width: 1200px;
	margin: 0 auto;
	background-color: #fff;
	-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
	        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.main-nav ul{
	margin: 0 auto;
	font-size: 0;
	list-style-type: none;
	padding-left: 6%;
	padding-right: 6%;
	padding-bottom: 19px;
	padding-top: 15px;
}

.main-nav li{
	display: inline-block;
	vertical-align: top;
	width: 20%;
	font-size: 14px;
	font-weight: 700;
}

.main-nav li:nth-child(1),
.main-nav li:nth-child(2){
	text-align: left;
}

.main-nav li:nth-child(1){
	margin-right: 2.8%;
}

.main-nav li:nth-child(3),
.main-nav li:nth-child(4){
	text-align: right;
}

.main-nav li:nth-child(3){
	margin-right: 3.2%;
}

.main-nav li:nth-child(2){
	margin-right: 14%;
}

.main-nav a{
	color: black;
}

.main-nav a:hover{
  color: #81b3d2;
}

.main-nav a:active{
  color: #000000;
  opacity: 0.3;
}

.main-nav .active,
.main-nav .active:hover,
.main-nav .active:active{
  color: #766357;
  opacity: 1;
}

.logo{
	position: absolute;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
	z-index: 2;
}

.intro{
  height: 508px;
  width: 100%;
  position: relative;
  background: #81b3d2 url("../img/background-index.jpg") no-repeat;
}

.intro:after{
	content: "";
  background: url("../img/background-mask.png") no-repeat;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 57px;
	position: absolute;
	z-index: 1;
}

.intro img{
	display: block;
	padding-top: 78px;
	margin: 0 auto;
}

.main-title{
	font-size: 21px;
	line-height: 26px;
	color: #000000;
	font-weight: 700;
	text-align: center;
	padding-left: 377px;
	padding-right: 380px;
	padding-top: 46px;
	padding-bottom: 16px;
}

.main-words{
	max-width: 42%;
	margin: 0 auto;
	padding-bottom: 54px;
}

.benefits{
	text-align: center;
	background-color: #81b3d2;
}

.benefits-text{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	float: left;
	width: 33.3334%;
	color: white;
	padding-top: 30px;
	padding-left: 58px;
	padding-right: 58px;
}

.benefits-title{
	padding-left: 80px;
	padding-right: 80px;
	margin-bottom: 23px;
}

.benefits p{
	margin-top: 21px;
	margin-bottom: 24px;
}

.benefits-image{
	display: block;
	float: right;
	width: 66.6667%;
	height: 256px;
}

.features .feautures-title-house::before{
  content: "";
  display: block;
  width: 80px;
  height: 76px;
  margin: 0 auto;
  margin-bottom: 28px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -3px -767px;
}

.features .feautures-title-food::before{
  content: "";
  display: block;
  width: 80px;
  height: 76px;
  margin: 0 auto;
  margin-bottom: 28px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: 1px -686px;
}

.features .feautures-title-souvenir::before{
  content: "";
  display: block;
  width: 80px;
  height: 76px;
  margin: 0 auto;
  margin-bottom: 28px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: 0 -955px
}

.feautures-item{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	float: left;
	text-align: center;
	width: 33.3334%;
  padding-top: 40px;
  padding-left: 51px;
  padding-right: 51px;
	margin-bottom: 68px;
}

.feautures-item p{
	margin-top: 23px;
}

.benefits-second{
	text-align: center;
	background-color: #81b3d2;
}

.benefits-second-text{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	float: right;
	width: 33.3334%;
	color: white;
	padding-top: 29px;
	padding-left: 40px;
	padding-right: 40px;
}

.benefits-second-title{
	padding-left: 80px;
	padding-right: 80px;
	margin-bottom: 24px;
	word-break: break-all;
}

.benefits-second p{
	margin-top: 21px;
	margin-bottom: 24px;
}

.benefits-second-image{
	display: block;
	float: left;
	width: 66.6667%;
	height: 256px;
}

.benefits-gray-bg{
	background-color: #eeeeee;
	margin-bottom: 57px;
}

.benefits-item{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	float: left;
	text-align: center;
	width: 33.3334%;
	padding-top: 31px;
	padding-left: 59px;
	padding-right: 59px;
}

.offer{
	text-align: center;
}

.offer p{
	max-width: 450px;
	margin-top: 26px;
	margin-bottom: 50px;
	margin-left: 31.2%;
}

.map{
	background-color: #81b3d2
	width: 100%;
	height: 593px;
}

.map iframe{
	width: 100%;
	height: 100%;
	border: 0;
}

footer{
	position: relative;
	overflow: hidden;
}

@-webkit-keyframes bounce{
  0%{-webkit-transform: translateY(-395px);transform: translateY(-395px);}
	100%{-webkit-transform: translateY(0);transform: translateY(0);}
}

@keyframes bounce{
  0%{-webkit-transform: translateY(-395px);transform: translateY(-395px);}
	100%{-webkit-transform: translateY(0);transform: translateY(0);}
}

.hotel-search{
	display: none;
  position: absolute;
  width: 460px;
  padding: 55px;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 11px 35px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 11px 35px 0px rgba(0, 0, 0, 0.2);
}

.hotel-show{
	display: block;
	-webkit-animation-name: bounce;
	        animation-name: bounce;
	-webkit-animation-duration: 0.6s;
	        animation-duration: 0.6s;
}

.hotel-search-row{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 460px;
}

.hotel-search input{
  width: 299px;
  height: 26px;
  margin: 0;
  margin-bottom: 30px;
  padding-top: 6px;
  padding-right: 35px;
  padding-bottom: 6px;
  padding-left: 12px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
  outline: none;
}

.hotel-search input:hover{
  background-color: #ebebeb;
}

.hotel-search input:focus{
  padding-top: 4px;
  padding-right: 33px;
  padding-bottom: 4px;
  padding-left: 10px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.hotel-search label{
  width: 92px;
  margin-right: 20px;
  font-weight: 700;
	cursor: pointer;
}

.hotel-search-row:last-of-type input{
  width: 50px;
  margin: 0;
  padding: 6px 32px;
  text-align: center;
}

.hotel-search-row:last-of-type input:focus{
  padding: 4px 30px;
}

.hotel-search-row:last-of-type label[for=adult]{
  margin-right: 39px;
}

.hotel-search-row:last-of-type label[for=child]{
  margin-right: 25px;
	margin-left: 48px;
}

.hotel-search-row .calendar-arrival,
.hotel-search-row .calendar-leaving{
  position: absolute;
  width: 22px;
  height: 22px;
  background-color: #f2f2f2;
  background: url("../img/sprite.png") no-repeat;
  background-position: -5px -420px;
  border: none;
  cursor: pointer;
  outline: none;
}

.hotel-search-row .calendar-arrival{
  top: 63px;
  right: 65px;
}

.hotel-search-row .calendar-leaving{
  top: 130px;
  right: 65px;
}

.hotel-search-row .calendar-arrival:hover,
.hotel-search-row .calendar-leaving:hover{
  background-position: -5px -484px;
}

.hotel-search-row .calendar-arrival:active,
.hotel-search-row .calendar-leaving:active{
  background-position: -5px -452px;
}

.field-wrapper-half .add-adult,
.field-wrapper-half .add-child,
.field-wrapper-half .reduce-adult,
.field-wrapper-half .reduce-child{
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #f2f2f2;
  background: url("../img/sprite.png") no-repeat;
  border: none;
  cursor: pointer;
  outline: none;
}

.field-wrapper-half .reduce-adult,
.field-wrapper-half .reduce-child{
  background-position: -3px -845px;
  margin-left: 10px;
  bottom: 179px;
}

.field-wrapper-half .reduce-adult{
  left: 168px;
}

.field-wrapper-half .reduce-child{
  right: 145px;
}

.field-wrapper-half .reduce-adult:hover,
.field-wrapper-half .reduce-child:hover{
  background-position: -3px -871px;
}

.field-wrapper-half .reduce-adult:active,
.field-wrapper-half .reduce-child:active{
  background-position: -3px -858px;
}

.field-wrapper-half .add-adult,
.field-wrapper-half .add-child{
  background-position: -3px -890px;
  margin-left: 86px;
  bottom: 178px;
}

.field-wrapper-half .add-adult{
  left: 168px;
}

.field-wrapper-half .add-child{
  right: 66px;
}

.field-wrapper-half .add-adult:hover,
.field-wrapper-half .add-child:hover{
  background-position: -3px -932px;
}

.field-wrapper-half .add-adult:active,
.field-wrapper-half .add-child:active{
  background-position: -3px -911px;
}

.search-form-btn{
  margin-top: 52px;
  padding: 17px 197px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
  cursor: pointer;
  outline: none;
}

.search-form-btn:hover{
  color: #ffffff;
  background-color: #669ec0;
}

.search-form-btn:active{
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.footer-index,
.footer-inner{
	font-size: 0;
	padding:0 6%;
	text-align: center;
}

.footer-index{
	position: absolute;
  bottom: 0;
	left: 0;
	width: 100%;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	background-color: rgba(255, 255, 255, 0.9);
  padding-top: 29px;
  padding-bottom: 31px;
}

.footer-inner{
	padding-top: 31px;
  padding-bottom: 31px;
}

.hashtag{
	display: inline-block;
	vertical-align: middle;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	font-size: 21px;
	text-align: left;
	width: 33.334%;
	padding-left: 61px;
	color: black;
	font-weight: 700;
}

.social{
	display: inline-block;
	vertical-align: middle;
	width: 33.334%;
}

.social-btn-tw{
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	display: inline-block;
	width: 46px;
  height: 48px;
  background-position: -5px -1040px;
}

.social-btn-tw:hover{
  background-position: -5px -1156px;
}

.social-btn-tw:active{
  background-position: -5px -1098px;
}

.social-btn-fb{
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
  background-position: -5px -516px;
	display: inline-block;
	width: 46px;
	height: 48px;
	margin-left: 6px;
}

.social-btn-fb:hover{
  background-position: -6px -632px;
}

.social-btn-fb:active{
  background-position: -6px -574px;
}

.social-btn-ytube{
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
  background-position: -5px -1214px;
	display: inline-block;
	width: 46px;
	height: 48px;
	margin-left: 6px;
}

.social-btn-ytube:hover{
  background-position: -5px -1330px;
}

.social-btn-ytube:active{
  background-position: -5px -1272px;
}

.copyright{
	display: inline-block;
	vertical-align: middle;
	width: 33.334%;
	text-align: right;
}

.copyright span{
	display: inline-block;
	vertical-align: middle;
  margin-right: 7px;
	font-size: 14px;
	margin-right: 9px;
	padding-top: 10px;
}

.copyright a{
  display: inline-block;
  vertical-align: top;
  width: 113px;
  height: 39px;
  background: url("../img/sprite.png") no-repeat;
  background-position: -5px -5px;
	padding-left: 30px
}

.copyright a:hover{
  background-position: -5px -103px;
}

.copyright a:active{
  background-position: -5px -54px;
}


/*внутренняя страница*/
.search-panel{
	height: 203px;
	background: #81b3d2 url(../img/background-hotels.jpg);
}

form .filter{
	padding: 0 6%;
	display: block;
	margin-top: 0;
}

.filter-group,
.filter-cost{
 text-align: right;
 float: left;
 margin-left: 72px;
 margin-top: 26px;
 margin-right: 50px;
}

.filter-cost{
 margin-left: 300px;
}

 .filter-title,
 .filter-cost-title,
 .sort-title{
	display: block;
  font-size: 16px;
  color: white;
  font-weight: bold;
  text-align: left;
 }

input[type="checkbox"] + label::before{
	position: absolute;
	content: "";
	left: -5px;
	top: 25px;
	width: 30px;
	height: 22px;
	background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: 0 -325px;
	position: absolute;
}

input[type="checkbox"]:checked + label::before{
  content: "";
  width: 30px;
  height: 22px;
  display: block;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: 0px -293px;
  position: absolute;
}

input[type="checkbox"]:disabled  + label::before{
  background-position: 0 -388px;
}

input[type="checkbox"]:checked:disabled  + label::after{
  background-position: 0 -356px;
}

 .filter-group label{
	display: block;
  font-size: 14px;
  color: white;
  text-align: left;
	padding-left: 40px;
	position: relative;
	padding-top: 25px;
	cursor: pointer;
	}

	input[type="checkbox"]{
	  display: none;
	}

.filter-cost{
  width: 315px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-cost-title{
	margin-bottom: 10px;
}

.price-controls{
	position: relative;
  height: 33px;
  margin-bottom: 19px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after{
  content: "";
  position: absolute;
	top: 50%;
	left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

.price-controls label{
  display: inline-block;
  font-size: 14px;
  line-height: 34px;
  vertical-align: top;
  cursor: pointer;
	padding-right: 14px;
}

.price-controls .min-price,
.price-controls .max-price{
  width: 90px;
  padding-left: 46px;
}

.price-controls input{
  width: 60px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
	cursor: pointer;
	line-height: 1.2;
}

.range-controls{
  position: relative;
  margin-bottom: 33px;
}

.range-controls .scale{
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar{
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle{
	position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
	border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover{
  background: #1c4f80;
}

.range-toggle-min{
  left: 0;
}

.range-toggle-max{
  left: 80%;
}

.btn-transparent{
  display: block;
  margin: 0 auto;
  padding: 6px 34px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover{
  color: #000000;
  background: #ffffff;
}

.sort{
	font-size: 0;
	padding: 43px 6% 31px;
}

.sort-title{
  font-size: 21px;
  color: black;
  font-weight: bold;
  line-height: 1.238;
  text-align: left;
  vertical-align: bottom;
  float: left;
  width: 135px;
  padding-right:31px;
}

.sort-label{
	font-size: 12px;
	line-height: normal;
  color: black;
	text-align: left;
	list-style-type: none;
	text-decoration: none;
	float: left;
	padding-top: 8px;
	padding-right: 38px;
}

.sort-buy{
	font-size: 12px;
	line-height: normal;
	text-align: left;
	list-style-type: none;
	text-decoration: none;
	padding-top: 8px;
	float: left;
}

.sort-buy a{
	color: #000000;
  opacity: 0.3;
  border-bottom: 1px dotted #81b3d2;
	font-size: 12px;
	float: left;
	margin-right: 35px;
}

.sort-buy a:first-of-type{
	color: #81b3d2;
  opacity: 1;
  border: none;
}
.sort-buy a:hover{
  color: #81b3d2;
  opacity: 1;
}

.sort-buy a:active{
  color: #000000;
  opacity: 1;
  border: none;
}
.sort-arrows{
  position: relative;
  width: 34px;
  height: 11px;
  margin-left: auto;
}

.icon-up{
  position: absolute;
  width: 11px;
  height: 10px;
  top: 10px;
  left: 0;
  background: url("../img/sprite.png") no-repeat;
  background-position: -5px -152px;
}

.icon-up:hover{
  background-position: -5px -192px;
}

.icon-up:active{
  background-position: -5px -172px;
}

.icon-down{
  position: absolute;
  width: 11px;
  height: 10px;
  top: 10px;
  right: 0;
  background: url("../img/sprite.png") no-repeat;
  background-position: -5px -232px;
}

.hotel-item{
	padding: 30px 6%;
	padding-bottom: 24px;
	border-top: 1px solid #e5e5e5;
}

.hotel-item:last-child{
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}

.hotel-image{
	float: left;
	margin-right:30px;
}

.hotel-info{
	float: left;
	margin-top: -3px;
}

.hotel-title{
  font-size: 20px;
  color: black;
  font-weight: bold;
  display: block;
}
.hotel-title:hover {
  color: #81b3d2;
}

.hotel-title:active {
  color: #000000;
  opacity: 0.3;
}

.hotel-info-part{
  float: left;
	margin-top: 9px;
	margin-right: 7px;
}

.hotel-info-part p{
	margin: 0;
	text-align: left;
	padding-bottom: 17px;
}

 .hotel-info-part a{
	font-size: 14px;
  color:white;
  font-weight: bold;
  text-align: left;
 	background-color: #81b3d2;
 	text-decoration: none;
 	padding: 4px 17px;
 }

.hotel-info-part a:hover{
  background-color: #669ec0;
}

.hotel-info-part a:active{
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.hotel-info-part .link-dark{
	background-color: #766357;
}

.hotel-info-part .link-dark:hover{
  background-color: #604e43;
}

.hotel-info-part .link-dark:active{
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.hotel-rating{
	float: right;
}

.hotel-rating-count{
  display: inline-block;
	vertical-align: middle;
  width: 110px;
  height: 27px;
  background-color: #F2F2F2;
  color: #666666;
  text-align: center;
  padding-top: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
	margin-top: 40px;
}

.hotel-stars{
	width: 89px;
	height: 22px;
	background: url("../img/sprite-stars.png") no-repeat;
	margin-left: auto;
}

.second{
	background-position: 0px -27px;
	width: 66px;
}

.third{
  background-position: 0px -54px;
	width: 43px;
}
