body {
	margin: 0;
	padding: 0;
	min-width: 1200px;
	color: #333333;
	font-family: "PT Sans","Arial";
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	text-transform: uppercase;
	background-color: #f2f2f2;
}
.main-title p, .benefits-title p, .feautures-item p, .benefits p{
	font-weight: normal;
	line-height: 21px;
}
h2 {
	font-size: 21px;
	line-height: 100%;
}
.offer-title{
	font-size: 30px;
	line-height: 24px;
}
.offer-title p{
	line-height: 24px;
}

.clearfix::after {
	content: "";
    display: table;
    clear: both;
}

.offer-search{
	background-color: #766357;
	width: 568px;
	height: 86px;
	margin: 0 auto;
}

.offer-search a{
	box-sizing: border-box;
	float: left;
	width: 100%;
	height: 76px;
	color: white;
	padding-top: 32px;
	font-size: 21px;

}
a {
	text-decoration: none;
}

.container {
	width: 1200px;
	margin: 0 auto;
	background-color: #fff;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

ul {
	margin: 0 auto;
	font-size: 0;
	list-style-type: none;
	padding-left: 6%;
	padding-right: 6%;
	padding-bottom: 19px;
	padding-top: 9px;

}

.main-nav li {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	font-size: 14px;
	font-weight: 700;
}
.main-nav li:nth-child(1),.main-nav li:nth-child(2){
	text-align: left;
}

.main-nav li:nth-child(3),.main-nav li:nth-child(4){
	text-align: right;
}

.main-nav li:nth-child(2){
	margin-right: 20%;
}

.main-nav a {
	color: black;
}

.logo {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
}

.intro{
height: 508px;
width: 100%;
position: relative;
background: url("../img/background-index.jpg") no-repeat;
}

.intro:after{
	content: "";
  background: url("../img/background-mask.png") no-repeat;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 57px;
	position: absolute;
	z-index: 1;
}

.intro img{
	display: block;
	padding-top: 78px;
	margin: 0 auto;
}


.main-title {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
	font-weight: 700;
	text-align: center;
	padding-left: 382px;
	padding-right: 382px;
	padding-top: 46px;
	padding-bottom: 16px;
}
p {
	text-align: center;
	padding-bottom: 10px;
	padding-bottom: 40px;
}

.benefits {
	height: 256px;
	text-align: center;
	background-color: #81b3d2;
}

.benefits-text{
	box-sizing: border-box;
	float: left;
	width: 33.3334%;
	height: 256px;
	color: white;
	padding-top: 29px;
	padding-left: 58px;
	padding-right: 58px;
}
.benefits-title{
	padding-left: 80px;
	padding-right: 80px;
	margin-bottom: 24px;
}
.benefits p{
	margin-top: 21px;
	margin-bottom: 24px;
}
.benefits-image{
	float: right;
	width: 66.6667%;
}
.feautures{
	height: 256px;
}

.feautures-item{
	box-sizing: border-box;
	height: 256px;
	float: left;
	text-align: center;
	width: 33.3334%;
  padding-top: 138px;
  padding-left: 55px;
  padding-right: 55px;
	margin-bottom: 67px;
}

.feautures-item p{
	margin-top: 23px;
}
.benefits-second{
	height: 256px;
	text-align: center;
	background-color: #81b3d2;
}

.benefits-second-text{
	box-sizing: border-box;
	float: right;
	width: 33.3334%;
	height: 256px;
	color: white;
	padding-top: 29px;
	padding-left: 40px;
	padding-right: 40px;
}
.benefits-second-title{
	padding-left: 65px;
	padding-right: 65px;
	margin-bottom: 24px;
}
.benefits-second p{
	margin-top: 21px;
	margin-bottom: 24px;
}
.benefits-image{
	float: left;
	width: 66.6667%;
}

.benefits-gray-bg{
	height: 256px;
	background-color: #eeeeee;
	margin-bottom: 57px;
}

.benefits-item{
	box-sizing: border-box;
	float: left;
	text-align: center;
	width: 33.3334%;
	padding-top: 31px;
	padding-left: 59px;
	padding-right: 59px;
}
.offer {
	text-align: center;
}
.offer p{
	margin-top: 28px;
	margin-bottom: 10px;
}

.map{
	background: url("../img/map.jpg");
	background-repeat: no-repeat;
	width: 100%;
	height: 748px;
	margin-top: 0px;
}

footer{
	position: relative;
}
.hotel-search{
	position:absolute;
	z-index: 2;
	top: 50%;
	left: 50%;
	background-color: #fff;
	width: 568px;
	margin-left: -284px;
	margin-top: -292px;
}

.hotel-search-row{
padding: 30px 50px;
}

.footer-index, .footer-inner {
	font-size: 0;
	padding:0 6%;
	margin-top: 18px;
	text-align: center;
}

.footer-index{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: rgba(255, 255, 255, 0.9);
	box-sizing: border-box;
}
.hashtag {
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
	font-size: 21px;
	text-align: center;
	width: 33.334%;
	margin-left: 0px;
}

.social {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	text-align: center;
	width: 33.334%;
}
.copyright{
	display: inline-block;
	text-align: right;
	width: 33.334%;
}
.copyright a{
	display: inline-block;
	vertical-align: middle;

}
.copyright p{
	font-size: 14px;
	padding-bottom: 40px;
}


/*внутренняя страница*/
.search-panel{
	height: 203px;
	background-image: url(../img/background-hotels.jpg);
}

form .filter{
	padding: 0 6%;
}
form{
	display: block;
	margin-top: 0;
}
.filter-group, .filter-cost{
 text-align: right;
 float: left;
 margin-left: 72px;
 margin-top: 26px;
 margin-right: 50px;
}
.filter-cost{
 margin-left: 300px;
}
 .filter-title, .filter-cost-title, .sort-title{
	display: block;
  font-size: 16px;
  color: white;
  font-weight: bold;
  text-align: left;
 }
.filter-group label:before{
	position: absolute;
	content: "";
	left: 0;
	top: 23px;
	width: 20px;
	height: 20px;
	border: 1px solid #fff;
	border-radius: 5px;
}
 .filter-group label{
	display: block;
  font-size: 14px;
  color: white;
  text-align: left;
	padding-left: 40px;
	position: relative;
	padding-top: 24px;
	}

.filter-group input{
	display: none;
}
.filter-cost {
  width: 315px;
  color: #ffffff;
  text-transform: uppercase;

}
.filter-cost-title{
	margin-bottom: 10px;
}
.price-controls {
	position: relative;
  height: 33px;
  margin-bottom: 19px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
	top: 50%;
	left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
	transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 32px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}
.price-controls input {
  width: 60px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 34px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
	position: absolute;
 top: -9px;
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
	border-radius: 50%;
 box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
 cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.sort {
	font-size: 0;
	padding: 43px 6% 32px;
}

.sort-title{
  font-size: 21px;
  color: black;
  font-weight: bold;
  line-height: 1.238;
  text-align: left;
  vertical-align: bottom;
  float: left;
  width: 135px;
  padding-right:31px;
}

.sort-label{
	font-size: 12px;
	line-height: normal;
  color: black;
	vertical-align: middle;
	text-align: left;
	list-style-type: none;
	text-decoration: none;
	float: left;
	padding-top: 8px;
	padding-right: 38px;
}

	.sort-buy {
	display: inline-block;
	font-size: 12px;
	line-height: normal;
	text-align: left;
	list-style-type: none;
	text-decoration: none;
	padding-top: 8px;
	float: left;
}

.sort-buy a{
	color: #81b3d2;
	font-size: 12px;
	float: left;
	padding-right: 35px;
}

.sort-arrows{
	float: right;
}

.hotel-item{
	padding: 30px 6%;
	padding-bottom: 5px;
}

.hotel-image{
	float: left;
	margin-right:32px;
}

.hotel-info{
	display: block;
}

.hotel-title{
  font-size: 20px;
  color: black;
  font-weight: bold;
  display: block;
}

.hotel-info-part{
	width: 118px;
  float: left;
	margin-top: 13px;
}
.hotel-info-part p{
	margin: 0;
	text-align: left;
}
p{
	text-align: center;
	padding-bottom: 10px;
}
 .hotel-info-part a{
	font-size: 14px;
  color:white;
  font-weight: bold;
  text-align: left;
 	background-color: #81b3d2;
 	text-decoration: none;
 	padding: 4px 17px;

 }

.hotel-info-part .link-dark{
	background-color: #766357;
}
 .hotel-rating{
 	float: right;
 	background-color: #eeeeee;
 }
